@model Biblioteka.Models.ClientViewModel

@{
    ViewData["Title"] = "Edit a Client";
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
    
}
<form action="Delete" method="post">
    <div class="mb-3">
        <label class="form-label" >Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName" readonly/>
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName" readonly/>
    </div>
    <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <div class="input-group">
            <span class="input-group-text">+48</span>
            <input type="text" class="form-control" asp-for="PhoneNumber" readonly/>
        </div>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Are you sure to delete?</button>
    </div>
</form>